In [ ]:
# prompt: what is an object in python

class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

In [ ]:
x=1
print(type(x))

<class 'int'>

In [ ]:
print(type("hello"))

<class 'str'>

In [ ]:
def hello():
  print("hello")
print(type(hello))

<class 'function'>

In [ ]:
x=1
y="hello"
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
string="hello"
print(string.upper())

HELLO

In [ ]:
class Dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def get_name(self):
    return self.name
  def get_age(self):
    return self.age
d=Dog('Tim',12)
d.get_name()
d.get_age()

d2=Dog("Bill",13)
d2.get_name()
d2.get_age()
#d.name
#d.bark()
##type(d)
print(d)

<__main__.Dog object at 0x79610bd21ed0>

In [ ]:
class Dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def get_name(self):
    return self.name
  def get_age(self):
    return self.age
d=Dog('Tim',12)
d.get_name()
d.get_age()

d2=Dog("Bill",13)
d2.get_name()
d2.get_age()
#d.name
#d.bark()
##type(d)
print(d)

<__main__.Dog object at 0x79610bd21ed0>

In [ ]:
class Dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def get_name(self):
    return self.name
  def get_age(self):
    return self.age
d=Dog('Tim',12)
d.get_name()
d.get_age()

d2=Dog("Bill",13)
d2.get_name()
d2.get_age()
#d.name
#d.bark()
##type(d)
print(d)

<__main__.Dog object at 0x79610bd21ed0>

In [ ]:
class Dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def get_name(self):
    return self.name
  def get_age(self):
    return self.age
d=Dog('Tim',12)
d.get_name()
d.get_age()

d2=Dog("Bill",13)
d2.get_name()
d2.get_age()
#d.name
#d.bark()
##type(d)
print(d)

<__main__.Dog object at 0x79610bd21ed0>

In [ ]:
class Dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def get_name(self):
    return self.name
  def get_age(self):
    return self.age
d=Dog('Tim',12)
d.get_name()
d.get_age()

d2=Dog("Bill",13)
d2.get_name()
d2.get_age()
#d.name
#d.bark()
##type(d)
#print(d)

13

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def get_name(self):
        return self.name

    def get_age(self):
        return self.age
    def set_age(self,age):
     self.age=age


d = Dog('Tim', 12)
print(d.get_name())
d.set_age(23)
print(d.get_age())

d2 = Dog("Bill", 13)
print(d2.get_name())
d2.set_age(20)
print(d2.get_age())

Tim
23
Bill
20

In [ ]:
###
class student:
  def __init__(self,name,age,grade):
    self.name=name
    self.age=age
    self.grade=grade#1-100
  def get_grade(self):
     return self.grade
class course:
  def __init__(self,name,max_students):
    self.name=name
    self.max_students=max_students
    self.students=[]
  def add_students(self,student):
     if len(self.students)<self.max_students:
      self.students.append(student)
      return True
     return False
  def get_average_grade(self):
    value=0
    for student in self.students:
      value +=student.get_grade()
    return value/len(self.students)
s1=student('james',21,95)
s2=student('john',20,90)
s3=student('lukes',19,80)
Course=course('science',2)
Course.add_students(s1)
Course.add_students(s2)
Course.get_average_grade()

92.5

In [ ]:
## inheritance
class pet:
  def __init__(self,name,age):
   self.name=name
   self.age=age
  def show(self):
    print(f"my name is {self.name} i am {self.age} years old")
  def speak(self):
    return "i dont know how to speak"

class Dog(pet):
  def __init__(self,name,age,colour):
    super().__init__(name,age)
    self.colour=colour
  def speak(self):
   print("bark")
  def show(self):
   print(f"my name is {self.name} i am {self.age} and am {self.colour}")
class cat(pet):
  def speak(self):
   print("meow")
class fish(pet):
  pass
p=pet("jin",13)
#p.show()
d=Dog("Tim",23,"blue")
d.show()
d.speak()
f=fish("bubbles",2)
f.show()
f.speak()
c=cat("kitty",3)
c.show()
c.speak()

my name is Tim i am 23 and am blue
bark
my name is bubbles i am 2 years old
my name is kitty i am 3 years old
meow

In [ ]:

## class methods and class attributes
class person():
  number_of_people=0
  gravity=-9.8127
  def __init__(self,name):
   self.name=name

  @classmethod
  def Gravity(cls):
    cls.gravity=8.888
    return cls.gravity
  @classmethod
  def add_person(cls):
    cls.number_of_people+=1
#person.Gravity()
#person.number_of_people
p1=person("john")
p1.add_person()
p2=person("jill")
p2.number_of_people
p2.add_person()

In [ ]:
import tkinter as tk
from tkinter import messagebox

def login():
    username = username_entry.get()
    password = password_entry.get()
    if username == "admin" and password == "password":
        messagebox.showinfo("Login Successful", "Welcome, Admin!")
        # Code to open main application window goes here
    else:
        messagebox.showerror("Login Failed", "Invalid username or password")

# Create the login window
root = tk.Tk()
root.title("Login System")

# Username entry
username_label = tk.Label(root, text="Username:")
username_label.grid(row=0, column=0)
username_entry = tk.Entry(root)
username_entry.grid(row=0, column=1)

# Password entry
password_label = tk.Label(root, text="Password:")
password_label.grid(row=1, column=0)
password_entry = tk.Entry(root, show="*")
password_entry.grid(row=1, column=1)

# Login button
login_button = tk.Button(root, text="Login", command=login)
login_button.grid(row=2, column=0, columnspan=2)

# Run the Tkinter event loop
root.mainloop()

TclError: no display name and no $DISPLAY environment variable

In [ ]:
class Student:
    def __init__(self, name, reg_no, course, marks):
        self.name = name
        self.reg_no = reg_no
        self.course = course
        self.marks = marks

    def calculate_grade(self):
        if self.marks >= 80:
            return 'A'
        elif self.marks >= 60:
            return 'B'
        elif self.marks >= 50:
            return 'C'
        else:
            return 'F'

# Create a list of students
students = [
    Student('John Doe', '12345', 'Computer Science', 90),
    Student('Jane Doe', '54321', 'Mathematics', 75),
    Student('Alice Smith', '67890', 'Physics', 60),
    Student('Bob Jones', '09876', 'Chemistry', 45)
]

# Loop through the students and print their details
for student in students:
    print('Name:', student.name)
    print('Registration Number:', student.reg_no)
    print('Course:', student.course)
    print('Marks:', student.marks)
    print('Grade:', student.calculate_grade())
    print()

Name: John Doe
Registration Number: 12345
Course: Computer Science
Marks: 90
Grade: A

Name: Jane Doe
Registration Number: 54321
Course: Mathematics
Marks: 75
Grade: B

Name: Alice Smith
Registration Number: 67890
Course: Physics
Marks: 60
Grade: B

Name: Bob Jones
Registration Number: 09876
Course: Chemistry
Marks: 45
Grade: F